body {
  width: 980px;
  margin: auto;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

#about_me {
  width: 780px;
  float: right;
  margin-left: 10px;
}

.section-display {
  display: inline-block;
}