section {
  width: 960px;
  margin: auto;
}

.navbar-inner {
  padding-left: 230px;
  padding-right: 210px;
}

.navbar {
  margin-bottom: 10px;
}

#image {
  float: left;
}

#about_me {
  float: inherit;
}