.wrapper {
  width: 960px;
  margin: auto;

}

.clearfix:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  height:0;
  line-height:0;

}

.section-display {
  display: inline-block;

}

#image {
  height: 200px;
  width: 200px;

}

#about_me {
  float: right;
  height: 200px;
}

